<nav class="navbar navbar-expand-xl navbar-light fixed-top navbar-custom {% if page.nav-short %}top-nav-short-permanent{% else %}top-nav-regular{% endif %}">

<a href="https://advertise.bitcoinminimalist.com/" aria-current="page" class="navbar-item logo-icon nuxt-link-exact-active nuxt-link-active"><img src="https://assets.bitbo.io/img/logos/bitbo-logo.svg" class="icon"> <span style="padding-left: 11px !important; margin-left: 9px; font-family: 'Numbers'; border-left: 1px solid rgba(232, 232, 232, 0.4) !important;font-size: 15px; padding-bottom: 2px;">Bitcoin Minimalist</span></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  {% if site.navbar-extra %}
    {% for file in site.navbar-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}

</nav>